.logomain {
    width: 67px;
    height: 59px;
}

.whatsappdiv {
    background-color: #2B96CC;
    padding: 6px;
}

.contact-info li a {
    display: block;
    padding: 0;
    color: #95ffc5;
    margin: -24px 0 0 10px;
    font-size: 18px;
    text-align: left;
    float: right;
    list-style-type: none;

}

.contact-info li :hover {
    box-shadow: 5px 10px #888888;
}

li {
    list-style-type: none;
}

.wplogo {
    padding: 8px;
}

.mainheader {

    background-color: #f8f9fa;
    position: relative;
    min-height: 50px;
}

.navbarmain {
    display: flex;
    align-items: center;
    left: 266px;
}

.imagemain {
    width: 100%;
    height: 467px;
    border-radius: 12%;
}

.reports {
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;




}

.reports img {
    opacity: 0.5;
}



.reportsinfo {
    margin: 53px;
}

.reportsinfo img {
    margin: 48px;
}

.reportsinfo h3 {
    padding: 8px;
    text-align: center;
    margin-top: -53px;
}

.reportsinfo button {
    text-align: center;
}

.buttonmain {
    margin: 30px;
}

.creativeimage img {
    border-radius: 50%;
}

.creativeimage {
    float: left;
    width: 33.33%;
    padding: 3px 88px;


}

.cardiology img {
    height: 183px;
}

.pathology img {
    height: 170px;
}

.radiology img {
    height: 138px;
}

.neuro img {
    height: 138px;
}

.nuclear img {
    height: 170px;
}

.gastro img {
    height: 183px;
}

.headingcreative {
    font-size: 42px;
    color: #2B96CC;
    font-family: sans-serif;

}

.meetour img {
    width: 505px;
    height: 398px;
}

.meetourinfo h5 {
    font-size: 35px;
    margin-bottom: 23px;
    border-bottom: 2px solid red;
    width: 286px;
}

.quadrainfo {
    border-bottom: 2px solid red;

}

#playstore {
    height: 550px;
    margin-top: 12px;
    background-image: url('backgroundapp.jpg');
}

.playstoreinfo {
    color: white;
    position: relative;
    float: right;
    padding: 4px 202px;
    top: -281px;
    left: -141px;
}

.mobilehand img {
    height: 420px;
    margin-top: 90px;
}

.playstoreinfo h2 {
    font-size: 45px;
    font-weight: 500;
    font-family: sans-serif;
}

.playstoreinfo p {
    color: #7394f7;
    font-weight: 600;
}

.playstoreinfo li {
    display: inline-block;

}

.playstoreinfo ul {
    margin-left: -50px;
}

#testprice {
    height: 550px;
}

.testheading h2 {
    position: absolute;
    left: 518px;
     margin-top: 25px;
    font-size: 37px;
    border-bottom: 2px solid red;
}

.image1 img{
    width: 314px;
    height: 267px;
    position: relative;
    left: 352px;
    margin-top: 134px;
    margin-left: 74px;
    border-radius: 37px;
}

.alltestimages{
    display: flex;
    align-items: center;
    justify-content: center;

}

.alltestimages p{
    padding: 15px;
    margin-left: 37px;
    font-size: 24px;
    position: relative;
    font-weight: 500;
    left: -38px;
    border: 2px solid red;
    background-color: red;
    border-radius: 30px;
    top: 17px;
    left: -48px;
    height: 111px;
}

.maincheckup{
    position: relative;
    left: 12px;
}

.videoinfo{
    display: flex;
}

.video1 img{
    width: 448px;
    height: 336px;
    position: relative;
    left: 5px;
    margin-top: 80px;
    border-radius: 62px;
    padding: 48px;
}

.videosection {
    display: flex;
    
}

.videosection p{
    padding: 12px;
    font-size: 22px;
    position: relative;
    top: -29px;
    left: 15px;
    font-family: unset;
}

.clientsinfo{
    height: 300px;
}

.clientsheading h2{
    margin-top: -22px;
}

.clientsimage{
    display: flex;
}

.imageinfo{
    position: relative;
    top: 92px;
    left: 115px;
}

.imageinfo img{
    height: 140px;
    width: 226px;
}

.aboutusheading{
    height: 250px;
    background-image: url('aboutbg.png');
}

.aboutus h1{
    color: white;
    text-align: center;
    padding-top: 21px;
    position: relative;
    top: 52px;
    font-weight: 800;
}


.aboutuspara p{
    color: white;
    text-align: center;
    position: relative;
    top: 76px;
}

.satinfo li{
    padding: 11px;
    /* float: left; */
    position: relative;
    left: -50px;
    background-color: rgb(205, 200, 200);
}

.aboutusmain{
    display: flex;
}

#aboutusmainsection{
    height: 600px;
}

.aboutheading h1{
    left: 437px;
    bottom: 140px;
    position: absolute;
}

.aboutuspara p{
    left: 306px;
    position: absolute;
    display: flex;
    top: 294px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
}

.finalabout{
    
    position: absolute;
    left: 363px;

}



.galleryheading{
    border: 1px dashed grey;
    text-align: center;
    
}

.galleryheading p{
   margin: 5px;
   background-color: rgb(165, 190, 236);
    border-radius: 77px;
}


#photomain{
    height: 800px;
}

.photomain1{
    display: flex;
}
.photo1 img{
    height: 232px;
    width: 343px;
    padding: 12px;
    margin: 49px;
}


.descphoto {
    position: relative;
    border-bottom: 6px solid black;
    left: 58px;
    bottom: 29px;
    width: 326px;
    font-size: 26px;
}

#maps{
    height: 400px;
    display: flex;
    
}

.homeicon{
    display: flex;
}

.homeicon i{
    padding: 4px;
    /* text-align: center; */
    position: relative;
    left: 121px;
    top: 12px;
}

.homeicon p{
    position: relative;
    left: 129px;
    top: 13px;
}
.maincontact{
    padding: 5px;
    text-align: center;
    left: 102px;
}

.getintouch{
  left: -16px;
    position: relative;
    height: 420px;
  
}

.getintouchhrow{
    position: absolute;
    left: 286px;
    width: 1040px;
}

#aboutuscontent{
    height: 1000px;
}
.usabout{
    display: flex;
}

.usaboutheading h1{
    padding: 12px;
    border-bottom: 2px solid red;
    width: 194px;
    margin: 27px;
   
}

.usaboutheading p{
    padding: 12px;
    margin-left: 27px;
    font-family: cursive;
}

.usaboutphoto img{
    width: 354px;
    height: 328px;
    margin: 64px;
}

.aboutscards img{
    width: 204px;
    position: relative;
    height: 229px;
    margin: 17px;
    left: 85px;
    border-radius: 22px;
}

.hahaha h5{
    border-bottom: 1px solid red;
    width: 134px;
}

.hahaha p{
    font-weight: bold;
}

#contenttech{
    height: 1950px;
}

.techcontent{
    display: flex;
}

.headingtech h1{
    text-align: center;
    padding: 31px;
    font-family: cursive;
    background-color: #a7a6a5;
}

.imagetech img{
    width: 282px;
    height: 267px;
    margin: 29px;
    position: relative;
    left: 58px;
    border-radius: 49px;
}

.techinfo p{
    padding: 20px;
    margin: 44px;
    position: relative;
    bottom: 34px;
    font-size: 19px;
    font-family: cursive;
}

.qqqq img{
    width: 1348px;
    height: 5px;
}

